on: [push, pull_request]
name: Clippy check
permissions:
  contents: read
jobs:
  clippy_check:
    runs-on: ubuntu-latest
    container:
      image: registry.fedoraproject.org/fedora:latest
    steps:
      - name: Install dependencies
        run: |
          dnf install -y cargo clippy make protobuf-devel
      - uses: actions/checkout@v6
      - name: Run clippy
        run: |
          cargo clippy --all-features -- -D warnings
          cargo clippy --tests -- -D warnings
