name: Release

on:
  push:
    tags:
      - "*"
  workflow_dispatch:
    inputs:
      debug_build:
        type: boolean
        description: "Run build with debugging enabled"
        required: false
        default: false
      debug_test:
        type: boolean
        description: "Run tests with debugging enabled"
        required: false
        default: false
      debug_publish:
        type: boolean
        description: "Run publish with debugging enabled"
        required: false
        default: false

concurrency:
  group: cedana-image-streamer-release-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: write
  packages: write
  id-token: write
  pull-requests: write

jobs:
  build:
    name: Build
    uses: ./.github/workflows/build.yml
    secrets: inherit
    with:
      debug: ${{ startsWith(github.event_name, 'workflow') && inputs.debug_build }}

  download:
    name: Download
    uses: cedana/cedana/.github/workflows/download.yml@main
    secrets: inherit
    with:
      cedana_version: main
      gpu_version: main

  test:
    name: Test
    uses: cedana/cedana/.github/workflows/test_streamer.yml@main
    needs: [build, download]
    secrets: inherit
    with:
      debug: ${{ startsWith(github.event_name, 'workflow') && inputs.debug_test }}
      gpu: true

  publish:
    name: Publish
    uses: ./.github/workflows/publish.yml
    needs: test
    secrets: inherit
    with:
      debug: ${{ startsWith(github.event_name, 'workflow') && inputs.debug_publish }}
      github: true
      cloudsmith: true
      post_summary: true
