on: [push, pull_request]
name: Tests
permissions:
  contents: read
jobs:
  test:
    runs-on: ubuntu-latest
    container:
      image: registry.fedoraproject.org/fedora:latest
      options: --privileged
    strategy:
      matrix:
        target: [test, shellcheck, shfmt, integration-test]
    steps:
      - name: Install dependencies
        run: |
          dnf install -y cargo ShellCheck shfmt bats make criu lz4
      - uses: actions/checkout@v4
      - name: Run make ${{ matrix.target }}
        run: make ${{ matrix.target }}
