name: Tests

on: [push, pull_request]

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    container:
      image: registry.fedoraproject.org/fedora:latest
      options: --privileged
    strategy:
      matrix:
        target: [test-junit, shellcheck, shfmt]
    steps:
      - name: Install git
        run: dnf install -y git
      - uses: actions/checkout@v6
      - name: Setup test environment
        run: ./tests/prepare-fedora-test-environment.sh
      - name: Run make ${{ matrix.target }}
        run: |
          . "${HOME}/.cargo/env"
          make ${{ matrix.target }}
      - name: Upload Test Results
        if: always() && matrix.target == 'test-junit'
        uses: actions/upload-artifact@v6
        with:
          name: test-results
          retention-days: 1
          path: |
            tests/junit.xml
            tests/junit-integration.xml

  event_file:
    name: "Event File"
    runs-on: ubuntu-latest
    steps:
      - name: Upload
        if: always()
        uses: actions/upload-artifact@v6
        with:
          name: event-file
          retention-days: 1
          path: ${{ github.event_path }}
